.foto {
    display: flex;
    gap: 30px;
}

.foto-img {
    display: block;
}

.galleri-img {
    width: calc((100% - 60px) / 3);
    position: relative;
}

.section-title-foto {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
}

.section-description-img {
    /* height: 70px; */
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}

.description-img {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    color: #ffffff;
}